@using CompanyWeb.Data.Entities;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<dRecuitment> lstRecruitment = ViewBag.lstRecruitment;
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/Temps/assets/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
            <h2>Danh sách tin tuyển dụng</h2>
            <ol>
                <li><a href="/">Trang chủ</a></li>
                <li>Danh sách tin tuyển dụng</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row gy-4 posts-list">
                @foreach (var item in lstRecruitment)
                {
                    DateTime hientai = DateTime.Now;
                    DateTime hethan = (item.ToDate != "" && item.ToDate != null) ? DateTime.ParseExact(item.ToDate, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) : DateTime.Now;
                    TimeSpan khoang = (hethan - hientai).Duration();
                    <div class="col-xl-4 col-md-6">
                        <div class="post-item position-relative h-100">

                            <div class="post-img position-relative overflow-hidden">
                                <img src="/Temps/assets/img/recruitment-condition.jpg" class="img-fluid" alt="">
                            </div>

                            <div class="post-content d-flex flex-column">

                                <h3 class="post-title">@item.Title</h3>

                                <div class="meta d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-calendar-week"></i> <span class="ps-2">Còn <b>@khoang.Days</b> ngày để ứng tuyển</span>
                                    </div>
                                </div>

                                <hr>

                                <a href="/Recuitment/DetailRecuitment/@item.ID" class="readmore stretched-link"><span>Chi tiết</span><i class="bi bi-arrow-right"></i></a>

                            </div>

                        </div>
                    </div>

                    <!-- End post list item -->
                }

            </div><!-- End blog posts list -->
            @Html.PagedListPager((IPagedList)ViewBag.lstRecruitment, page => Url.Action("RecruitmentInformation", new{page = page}))
        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->