@using CompanyWeb.Data.Entities;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<cCustomer> lstData = ViewBag.lstData;
    int i = 0;
}

<div class="card alert">
    <div class="card-header">
        <h4>Quản lý phân loại đối tác </h4>
    </div>
    <div class="card-body">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên phân loại</th>
                    <th>Trạng thái hiển thị</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in lstData)
                {
                    i++;
                    <tr>
                        <th scope="row">@i</th>
                        <td>@item.Title</td>
                        @if (item.Status == 1)
                        {
                            <td><span class="badge badge-primary">Đang sử dụng</span></td>
                        }
                        else
                        {
                            <td><span class="badge badge-default">Dừng sử dụng</span></td>
                        }
                        <td class="color-primary"><a class="badge label-danger" onclick="DelItem(@item.ID)"><i class="ti-trash"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
