@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
            <h2>Sản phẩm</h2>
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Phần mềm Ekids</li>
            </ol>
        </div>
    </div>

    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row g-5">
                <div class="col-lg-12">
                    <article class="blog-details">
                        <div class="post-img">
                            <img src="/Temps/assets/img/mamnondihoc-8-1589178605-9341-1591080803.jpg" alt="" class="img-fluid" style="width:100%">
                        </div>
                        <h2 class="title">App học Tiếng Anh, Toán, Tiếng Việt cho trẻ từ mầm non tới Tiểu học</h2>
                        @* <div class="meta-top">
                        <ul>
                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2020-01-01">Jan 1, 2022</time></a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>
                        </ul>
                        </div> *@
                        <div class="content">
                            <h3>Hệ thống bài giảng gồm lý thuyết & thực hành, dựa theo PPCT của tất cả các bộ sách đã được cấp phép</h3>
                            <p>
                                Nhà trường có thể áp dụng tại bất cứ thời điểm nào trong năm học.Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
                            </p>
                            <h3>Áp dụng công nghệ thực tế ảo (VR) và thực tế tăng cường (AR) trong giảng dạy lý thuyết & thực hành.</h3>
                            <p>
                                Nội dung lý thuyết siêu trực quan với hình ảnh 3D ứng dụng công nghệ AR và VR độc nhất! Học sinh có thể trải nghiệm phóng to, thu nhỏ, xoay 360° các mô hình lý thuyết với kích thước thật rất trực quan.
                            </p>
                            <blockquote>
                                <p>
                                    App giáo dục đầu tiên giúp học sinh kết hợp vận động thể chất
                                    Thiết kế bài học dựa trên lớp học thực. Học sinh được học kết hợp giữa vận động thể chất và thiết bị dựa trên công nghệ nhận diện chuyển động.
                                </p>
                            </blockquote>
                            <h3>Báo cáo học tập theo từng kỹ năng:</h3>
                            <p>
                                eKids là sản phẩm duy nhất giúp theo dõi chính xác năng lực học theo từng kỹ năng của từng môn học và đưa ra gợi ý để học sinh cải thiện.
                            </p>
                            <h3>Cải thiện phát âm và chữa nói ngọng với công nghệ iSpeak</h3>
                            <p>
                                Thực hành phát âm và hội thoại giúp trẻ cải thiện kỹ năng nói qua ứng dụng công nghệ nhận dạng giọng nói iSpeak bằng cả Tiếng Anh và Tiếng Việt.
                            </p>
                            @* <img src="/Temps/assets/img/blog/blog-inside-post.jpg" class="img-fluid" alt=""> *@
                            <h3>Áp dụng phương pháp học tập thích ứng</h3>
                            <p>
                                eKids đưa ra bộ câu hỏi gần nhất với lực học thực sự của học sinh trên nền tảng ứng dụng công nghệ trí tuệ nhân tạo.
                            </p>
                            <h3>Trò chơi hóa nội dung:</h3>
                            <p>
                                Giúp học sinh luôn hào hứng với hơn 5000  bài học được thiết kế dưới dạng trò chơi tương tác, Nội dung được cập nhật thường xuyên cùng các môn học mới.
                            </p>
                        </div>
                        <div class="meta-bottom">
                            <i class="bi bi-folder"></i>
                            <ul class="cats">
                                <li><a href="#">Giáo dục</a></li>
                            </ul>
                            <i class="bi bi-tags"></i>
                            <ul class="tags">
                                <li><a href="#">Phần mềm</a></li>
                                <li><a href="#">Hỗ trợ</a></li>
                                <li><a href="#">Giảng dạy</a></li>
                            </ul>
                        </div>
                    </article>
                    <div class="post-author d-flex align-items-center">
                        <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
                        <div>
                            <h4>Công ty cổ phần giáo dục GDC Toàn Cầu</h4>
                            <div class="social-links">
                                <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                            </div>
                            <p>
                                @* Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas. *@
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>